<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <title>도비의 서재</title>
</head>
<body> 
    <div class = "main_menu">
        <center>
            <h2 id ="menu"><a href ="http://localhost:3000">홈</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/search">검색</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/shelf">내 서재</a></h2>
            <h2 id ="menu"><a href ="http://localhost:3000/management">관리</a></h2>
        </center>
    </div>
    
    <hr />
    <div>
        <center>
            <h1>POST</h1>
            <p>작가 : <%= writer[0].nickName %></p>
            <h3>제목 : <%= post[0].title %></h3>
            <div>
                <p>글 내용 : <%= post[0].contents %></p>
            </div>
            <sanp>관련 태그 : 
                <% tags.forEach(function(tag) { %>
                    &nbsp;<%= tag.content %>
                <% }) %>
            </span>
            <h3>댓글</h3>
            <table>
            <% comments.forEach(function(comment) { %>
                <tr>
                    <td><%= comment.nickName %></td> 
                    <td><%= comment.content %></td> 
                    <td><%= comment.datetime.toISOString().replace(/T/, ' ').replace(/\..+/, '') %></td> 
                </tr>
            <% }) %>
            </table>
          
            <h3>댓글달기</h3>
            <% link = "http://localhost:3000/shelf/post?pid=" +post[0].post_id %>
            <form action=<%= link %> method="POST" >
                <input type = "text" name ="comment">
                <input type="submit" value="확인">
            </form>
        </center>
    </div>

</body>
</html>