<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <title>도비의 서재</title>
    <center><h1 class="header">도비의 서재</h1></center>
</head>
<body> 
    <div class = "main_menu">
            <center>
                <% slink = "http://localhost:3000/shelf?sid=" + -1 %>
                <h2 id ="menu"><a href ="http://localhost:3000">홈</a>
                </h2> <h2 id ="menu"><a href ="http://localhost:3000/search">검색</a>
                </h2> <h2 id ="menu"><a href =<%= slink %>>내 서재</a></h2>
                <h2 id ="menu"><a href ="http://localhost:3000/management">관리</a></h2>
            </center>
    </div>
    
    <hr />
    <div>
        <center>
            <h2>서재관리</h2>
            <div class ="column">
                <% name = my_books[0].bookshelf_title.replace(/ /g, '+'); %>
                <form action="/shelf/libManage?cname=<%=name%>" method="POST">
                    <table>
                        <tr>
                            <td >서재이름 </td>
                            <td colspan="2">
                                <textarea name="bookshelf_title"><%= my_books[0].bookshelf_title %></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td > 선택 </td>
                            <td> 제목 </td>
                            <td> 작가 </td>

                        </tr>
                        <% books.forEach(function(book) { %>
                            <% has =0 %>
                            <% my_books.forEach(function(mybook){ %>
                                <% if(mybook.book_id == book.book_id){ %>
                                    <% has = 1 %>
                                <% } %>
                            <% }) %>
                            <% if(has ==0){ %>
                                <tr> 
                                    <td><input type="checkbox" name="bookid" value=<%=book.book_id %>> </td>
                                    <td><%=book.title%></td>
                                     <td><%=book.writer %> </td>
                                </tr> 
                            <% }else{ %>   
                                <tr>  
                                    <td><input type="checkbox" name="bookid" value=<%=book.book_id %> checked> </td>
                                    <td><%=book.title%></td>
                                    <td><%=book.writer %> </td>
                                </tr>
                            <% } %>
                        <% }) %>
                    </table>
                    <input type="submit" value="수정하기">
                </form>
            </div>


    </center>
    </div>
</body>
</html>