<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/book.css' />
    <title>밀리의 서재</title>
</head>
<body> 
    <div class = "main_menu">
        <center>
            <h2 id ="menu"><a href ="http://localhost:3000">홈</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/search">검색</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/shelf">내 서재</a></h2>
            <h2 id ="menu"><a href ="http://localhost:3000/management">관리</a></h2>
        </center>
    </div>
    
    <hr />
    <div>
        <center>
            <div class="book_info">
            <form action="/book" method="POST">
            <table>
                <tr>
                    <th rowspan="5">
                        <div class = "book_image">
                            <p>image</p>
                        </div>
                    </th>
                    <th colspan="2"><%= book.title %></th>
                    <th></th>
                </tr>
                <tr>
                    <td>저자</td>
                    <td><%= book.writer %></td>
                </tr>
                <tr>
                    <td>출판사</td>
                    <td><%= book.publisher %></td>
                </tr>
                <tr>
                    <td><p>❤️: <%= book.like_count %></p></td>
                    <td><button>❤️</button></td>
                </tr>
                
                <tr>
                    <td>이 책이 담긴 서재</td>
                    <td><%= read_count.cnt %></td>
                </tr>
                </table>
            </form>
            </div>
    
            <h2>감성 태그 픽</h2>
                <form action="/bookTag" method="POST">
                <div class ="column">
                    <div class = "tag">
                        <% tag.forEach(function(tags) { %>
                        <button name="tagId" value="<%= tags.book_tag_id %>">#<%= tags.content %></button>
                        <button name="delTag" value="<%= tags.book_tag_id %>">X</button> 
                        <% }) %>
                    </div>
                </div>  
                <div class ="column">
                    <div class = "tag">
                        #<input type="text" name="new_tag" placeholder="이 책에 대한 나만의 #감성 태크를 달아주세요 " style="width:300px; padding:5px">
                    </div>
                </div>  
                </form>                              
            <h2>이 저자, 역자의 다른 도서</h2>
            <div class ="column">
                <div class = "list">
                    <p>한강</p>
                    <p>소년이 온다</p>
                </div>
            </div>

            <h2>이 분야의 인기도서</h2>
            <div class ="column">
                <div class = "list">
                    <p>한강</p>
                    <p>소년이 온다</p>
                </div>
            </div>


        <h2>포스트</h2>
        <div class ="column">
                <table>
                    <tr>
                        <th>제목</th>
                        <th>작성자</th>
                    </tr>
                    <tr>
                        <td>독서노트</td>
                        <td>성공한 여행가_27</td> 
                    </tr>
                </table>
        </div>
    </center>
    </div>
</body>
</html>