<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/book.css' />
    <title>밀리의 서재</title>
</head>
<body> 
    <div class = "main_menu">
        <center>
            <% slink = "http://localhost:3000/shelf?sid=" + -1 %>
            <h2 id ="menu"><a href ="http://localhost:3000">홈</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/search">검색</a>
            </h2> <h2 id ="menu"><a href =<%= slink %>>내 서재</a></h2>
            <h2 id ="menu"><a href ="http://localhost:3000/management">관리</a></h2>
        </center>
    </div>
    
    <hr />
    <div>
        <center>
            <div class="book_info">
            <table>
                <tr>
                    <th rowspan="5">
                        <div class = "book_image">
                            <p>image</p>
                        </div>
                    </th>
                    <th colspan="2"><%= book[0].title %></th>
                    <th></th>
                </tr>
                <tr>
                    <td>저자</td>
                    <td><%= book[0].writer %></td>
                </tr>
                <tr>
                    <td>출판사</td>
                    <td><%= book[0].publisher %></td>
                </tr>
                <% link = "http://localhost:3000/book/bookSubscribe?bid=" + book[0].book_id %>
                <form action=<%= link %> method="POST" >
                <tr>
                    <td>프리미엄 회원 e북 읽기 </td>
                    <td><button>구독</button></td>
                </tr>
                </form>
                <% link = "http://localhost:3000/book/bookLove?bid=" + book[0].book_id %>
                <form action=<%= link %> method="POST" >
                <tr>
                    <td><p>❤️: <%= book[0].like_count %></p></td>
                    <td><button>❤️</button></td>
                </tr>
                </form>
                <tr>
                    <% link = "http://localhost:3000/book/bookInShelf?bid=" + book[0].book_id %>
                    <td>이 책이 담긴 서재</td>
                    <td><button style="width:30px;"><a href = <%=link %>><%= read_count[0].cnt %></a></button></td>
                </tr>
                </table>
          
            </div>
            <% link = "http://localhost:3000/book/tagLove?bid=" + book[0].book_id %>
            <form action=<%= link %> method="POST" >
                <h2>감성 태그 픽</h2>
                <div class ="column">
                    <div class = "tag">
                        <% tag.forEach(function(tags) { %>
                        <button name="tagID" value="<%= tags.book_tag_id %>" style="background-color: #fee9e6">#<%= tags.content %></button>
                        <% }) %>

                    </div>
                </div>  
                <h4>나의 관심 태그</h4>
                <div class ="column">
                    <div class = "tag">
                        <% love_tags.forEach(function(love_tag) { %>
                        <button name="tagID" value="<%= love_tag.book_tag_id %>" style="background-color: #fdd3ce">#<%= love_tag.content %></button>
                        <% }) %>
                    </div>
                </div>
            </form>
            <% link = "http://localhost:3000/book/delTag?bid=" + book[0].book_id %>
            <form action=<%= link %> method="POST" >
            <h4>내가 작성한 태그</h4>
            <div class ="column">
                    <div class = "tag">
                        <% my_tags.forEach(function(my_tag) { %>
                        <button name="tagID" value="<%= my_tag.book_tag_id %>" style="background-color: #fba69d">#<%= my_tag.content %></button>
                        <button name="delTag" value="<%= my_tag.book_tag_id %>">X</button></br>
                        <% }) %>
                    </div>
                </div>   
            </form> 
                <% link = "http://localhost:3000/book/newTag?bid=" + book[0].book_id %>
                <form action=<%= link %> method="POST" >
            <!--create new tag-->
            <div class ="column">
                <div class = "tag">
                    #<input type="text" name="new_tag" placeholder="이 책에 대한 나만의 #감성 태크를 달아주세요 " style="width:300px; padding:5px">
                </div>
            </div>  
            </form>                              
            <h2>이 저자, 역자의 다른 도서</h2>
            <div class ="column">
                <% top_equ_writers.forEach(function(book) { %>
                    <div class = "list">
                            <p><%= book.writer.substring(0, 8) %></p>
                            <p><%= book.title.substring(0, 8) %></p>
                        </div>
                <% }) %>
            </div>

            <h2>이 분야의 인기도서</h2>
            <div class ="column">
                <% top_equ_cates.forEach(function(book) { %>
                    <div class = "list">
                            <p><%= book.writer.substring(0, 8) %></p>
                            <%= book.title.substring(0, 8) %>
                        </div>
                <% }) %>
            </div>


        <h2>포스트</h2>
        <div class ="column">
                <table>
                    
                    <tr>
                        <th>작성자</th>
                        <th>제목</th>
                        <th>서재</th>
                    </tr>
                    <% related_posts.forEach(function(post) { %>
                        <% link = "http://localhost:3000/shelf/post?pid=" + post.post_id + "&uid=" +post.user_index %>
                    <tr>
                        <td><%= post.nickName.substring(0, 10) %></td> 
                        <td><%= post.title.substring(0, 10) %></td>
                        <td><%= post.libraryName.substring(0, 10) %></td> 
                    </tr>
                    <% }) %>
                </table>
        </div>
    </center>
    </div>
</body>
</html>