<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <title>밀리의 서재</title>
</head>
<body> 
    <div class = "main_menu">
        <center>
            <h2 id ="menu"><a href ="http://localhost:3000">홈</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/search">검색</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/shelf">내 서재</a></h2>
            <h2 id ="menu"><a href ="http://localhost:3000/management">관리</a></h2>
        </center>
    </div>
    
    <hr />
    <div>
        <center>
            <h1>EVENT</h1>
            <h3>제목: <%= event[0].title %></h3>
            <p>내용: <%= event[0].content %></p>
            
            <div>
                <h3>댓글</h3>
                <table>
                    <tr>
                        <th>필명</th>
                        <th>내용</th>
                        <th>시간</th>
                        <th> </th>
                    </tr>
                    <tr>
                     <% comment.forEach(function(comment) { %>
                        <td><%= comment.nickName %></td>
                        <td><%= comment.content %></td>
                        <td><%= comment.datetime.toISOString().replace(/T/, ' ').replace(/\..+/, '')%> %></td>
                    </tr>
                    <% }) %>
                </table>
            </div>
            <h3>댓글 달기</h3>
            <form action="/event" method="POST">
                <table>
                    <tr>
                        <td><input type="text" name="comment" placeholder="댓글 내용을 입력하세요"></td>
                    </tr>
                </table>
                <input type="submit" value="확인">
            </form>
        </center>
    </div>

</body>
</html>