<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <title>밀리의 서재</title>
</head>
<body> 
    <div class = "main_menu">
        <center>
            <h2 id ="menu"><a href ="http://localhost:3000">홈</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/search">검색</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/shelf">내 서재</a></h2>
            <h2 id ="menu"><a href ="http://localhost:3000/management">관리</a></h2>
        </center>
    </div>
    
    <hr />
    <div>
        <center>
            <h2>오늘의 책</h2>
            <div class ="column">
                    <table>
                            <tr>
                                <th>제목</th>
                                <th>작가</th>
                                <th>출판사</th>
                            </tr>
                            <tr>
                                <td>
                                    <% book_today.forEach(function(book_today) { %>
                                        <tr><td><%= book_today.title %></td>
                                        <td><%= book_today.writer %></td>
                                        <td><%= book_today.publisher %></td></tr>
                                        <% }) %>
                                </td>
                        </tr>
                        </table>
            </div>


        <h2>오늘의 리딩북</h2>
    
        <div class ="column">
                <table>
                        <tr>
                            <th>제목</th>
                            <th>작가</th>
                            <th>출판사</th>
                            <th>리더</th>
                        </tr>
                        
                        <td>
                            <% readingbook_today.forEach(function(readingbook_today) { %>
                                <tr><td><%= readingbook_today.title %></td>
                                <td><%= readingbook_today.writer %></td>
                                <td><%= readingbook_today.publisher %></td>
                                <td><%= readingbook_today.reader %></td></tr>
                                <% }) %>
                        </td>
                    
                    </table>
        </div>
        

        <h2>실시간 인용문</h2>
        <div class ="column">
            <table>
                <tr>
                    <th>유저</th>
                    <th>책</th>
                    <th>인용문</th>
                    <th>날짜</th>
                </tr>
                <tr>
                    <td>
                        <% quotation.forEach(function(quotation) { %>
                            <tr><td><%= quotation.nickName %></td>
                            <td><%= quotation.title %></td>
                            <td><%= quotation.content %></td>
                            <td><%= quotation.datetime.toISOString().replace(/T/, ' ').replace(/\..+/, '') %></td></tr>
                            <% }) %>
                    </td>
                </tr>
            </table> 
        </div>
        <h2>밀리 작가 특집</h2>
        <div class ="column">
            <table>
                <tr>
                    <th>제목</th>
                    <th>날짜</th>
                </tr>
                <td>
                        <% weekly_writer.forEach(function(weekly_writer) { %>
                            <% link = "http://localhost:3000/shelf/post?pid=" + weekly_writer.post_id + "&uid=1" %>
                            <tr><td><a href = <%=link %>><%= weekly_writer.title %></a></td>
                            <td><%= weekly_writer.datetime.toISOString().replace(/T/, ' ').replace(/\..+/, '') %></td></tr>
                            <% }) %>
                    </td>
                
            </table>
        </div>
        <h2>밀리 서평/독서 능력자들</h2>
        <div class ="column">
                <table>
                    <tr>
                        <th>서평 능력자</th>
                        <th>포스트 수</th>
                    </tr>
                </tr>
                <% user_post.forEach(function(user_post) { %>
                    <tr>
                        <td><%= user_post.nickName %></td>
                        <td><%= user_post.num %></td>
                    </tr>
                <% }) %>
                </table>
                <table>
                    <tr>
                        <th>독서 능력자</th>
                        <th>읽은책</th>
                    </tr>
                        <% user_read.forEach(function(user_read) { %>
                            <tr>
                                <td><%= user_read.nickName %></td>
                                <td><%= user_read.num %></td>
                            </tr>
                        <% }) %>
                    
                    
                </table>
        </div>
        <h2>북차트 월간</h2>
        <div class ="column">
        <table>
            <tr>
                <th>제목</th>
                <th>작가</th>
                <th>출판사</th>
            </tr>
            <tr>
                <td>
                    <% book_month.forEach(function(book_month) { %>
                        <% link = "http://localhost:3000/book?bid="+ book_month.book_id %>
                        <tr><td><a href = <%=link %>><%= book_month.title %></a></td>
                        <td><%= book_month.writer %></td>
                        <td><%= book_month.publisher %></td></tr>
                        <% }) %>
                </td>
            </tr>
        </table>
        </div>
        

            <h2>북차트 주간</h2>
            <div class ="column">
            <table>
                <tr>
                    <th>제목</th>
                    <th>작가</th>
                    <th>출판사</th>
                </tr>
                <tr>
                        <td>
                            <% book_week.forEach(function(book_week) { %>
                                <% link = "http://localhost:3000/book?bid="+ book_week.book_id %>
                                <tr><td><a href = <%=link %>><%= book_week.title %></a></td>
                                <td><%= book_week.writer %></td>
                                <td><%= book_week.publisher %></td></tr>
                                <% }) %>
                        </td>
                    </tr>
            </table>
            </div>
           


            <h2>북차트 누적</h2>
            <div class ="column">
            <table>
                <tr>
                    <th>제목</th>
                    <th>작가</th>
                    <th>출판사</th>
                </tr>
                <tr>
                    <td>
                        <% book_year.forEach(function(book_year) { %>
                            <% link = "http://localhost:3000/book?bid="+ book_year.book_id %>
                            <tr><td><a href = <%=link %>><%= book_year.title %></a></td>
                            <td><%= book_year.writer %></td>
                            <td><%= book_year.publisher %></td></tr>
                            <% }) %>
                    </td>
            </tr>
            </table>
        </div>
        <h2>밀리 오리지널</h2>
        <div class ="column">
            <table>
                    <tr>
                        <th>제목</th>
                        <th>작가</th>
                    </tr>
                    <tr>
                        <td>
                            <% mili_original.forEach(function(mili_original) { %>
                                <% link = "http://localhost:3000/book?bid="+ mili_original.book_id %>
                                <tr><a href = <%=link %>><%= mili_original.title %></a></td>
                                <td><%= mili_original.writer %></td>
                                <% }) %>
                        </td>
                </tr>
                </table>
        </div>
        <h2>감성 태그 픽</h2>
        <div class ="column">
            <div class = "tag">
                    <% tag_pick.forEach(function(tag_pick) { %>
                <p>#<%= tag_pick.content %></p>
                <% }) %>
            </div>
        </div>
        <h2>진행중인 이벤트</h2>
        <div class ="column">
            <table>
                <% event.forEach(function(event) { %>
                    <% link = "http://localhost:3000/event?eid="+ event.event_id %>
                <tr>
                    <th><a href = <%=link %>><%= event.title %></a></th>
                </tr>
                <tr>
                    <td><%= event.to_date.toISOString().replace(/T/, ' ').replace(/\..+/, '')%> 까지</td>
                </tr>
                <% }) %>
            </table>
        </div>
    </center>
    </div>


    <!-- <button><a href = "http://localhost:3000/user/login">로그인하기</a></button>
    <button><a href = "http://localhost:3000/user/addUser">회원 가입</a></button>
    <button><a href = "http://localhost:3000/management/list">관리</a></button> -->
</body>
</html>