
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/shelf.css' />
    <title>밀리의 서재</title>
</head>
<body> 
    <div class = "main_menu">
        <center>
            <h2 id ="menu"><a href ="http://localhost:3000">홈</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/search">검색</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/shelf">내 서재</a></h2>
            <h2 id ="menu"><a href ="http://localhost:3000/management">관리</a></h2>
        </center>
    </div>
    
    <hr />
    <div>
        <center>
            <div class = "header">
                <h2><%= user[0].libraryName %></h2>
                <div class = "left">
                    <p>필명 : <%= user[0].nickName %></p>
                    <p>구독자 : <%= follower[0].count %> 구독중 : <%= following[0].count %> </p>
                    <p>공지사항은 여기다 나오게 하면 되겠죠?</p>
                    <p><%= user[0].libraryDescription %></p>
                </div>
                <table>
                    <tr>
                        <th>읽은책</th>
                        <th>좋아요</th>
                        <th>인용문</th>
                    </tr>
                    <tr>
                        <th><%= read[0].count %></th>
                        <th><%= love[0].count %></th>
                        <th><%= quotation[0].count %></th>
                        
                    </tr>
                </table>
            </div>
            <!--버튼으로 눌려서 페이지 바꾸는게 어려워서 그냥 하나에 쭉 나열하도록 할게요-->
            <div class ="books">
                <h2>도서</h2>
                <div class ="column">
                    <div class = "list">
                        <p>한강</p>
                        <p>소년이 온다</p>
                    </div>
                </div>
            </div>

        <div class="shelf">
            <h2>서재</h2>
            <div class ="column">
                <h3 class = "left">첫번째 서재이름</h3>
                <div class = "list">
                    <p>한강</p>
                    <p>소년이 온다</p>
                </div>
            </div>
            <div class ="column">
                <h3 class = "left">두번째 서재이름</h3>
                <div class = "list">
                    <p>한강</p>
                    <p>소년이 온다</p>
                </div>
            </div>
        </div>
        
        <div class ="post">
            <h2>나의 포스트</h2>
            <div class ="column">
                <table>
                    <tr>
                        <th>서평제목</th>
                        <th>필명</th>
                    </tr>
                <% myposts.forEach(function(mypost) { %>
                        <tr>
                            <td><%= mypost.title %></td>
                            <td><%= user[0].nickName %></td>
                        </tr>                                  
                    <% }) %>
                    </table>
            </div>
        </div>     
        <div class ="post">
                <h2>구독중인 포스트</h2>
                <div class ="column">
                    <table>
                        <tr>
                            <th>서평제목</th>
                            <th>필명</th>
                        </tr>
                    <% followingPosts.forEach(function(followingPost) { %>
                            <tr>
                                <td><%= followingPost.title %></td>
                                <td><%= followingPost.nickName %></td>
                            </tr>                                  
                        <% }) %>
                        </table>
                </div>
            </div>        
    </center>
    </div>

</body>
</html>

