
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/shelf.css' />
    <center><h1 class="head">도비의 서재</h1></center>
</head>
<body> 
    <div class = "main_menu">
        <center>
            <% slink = "http://localhost:3000/shelf?sid=" + -1 %>
            <h2 id ="menu"><a href ="http://localhost:3000">홈</a>
            </h2> <h2 id ="menu"><a href ="http://localhost:3000/search">검색</a>
            </h2> <h2 id ="menu"><a href =<%= slink %>>내 서재</a></h2>
            <h2 id ="menu"><a href ="http://localhost:3000/management">관리</a></h2>
        </center>
    </div>
    
    <hr />
    <div>
        <center>
            <div class = "header">
                <h2><%= user[0].libraryName %></h2>
                <% if(mine.value==0){ %>
                    <% ing = 0 %>
                    <% follower_n.forEach(function(following) { %>
                        <% if(me.user_index == following.user_index){ %>
                               <% ing = 1 %> 
                        <% } %>
                    <% }) %>
                    <% if(ing == 0){ %>
                        <% link = "http://localhost:3000/shelf/subscribe?oid="+user[0].user_index; %>

                        <p><a href =<%= link %>>구독하기🙌🏼</a></p>
                    <% }else{ %>
                        <% ulink = "http://localhost:3000/shelf/unsubscribe?oid="+user[0].user_index; %>

                        <p><a href =<%= ulink %>>구독취소🙌🏼</a></p>
                    <% } %>

                <% } %>
                <div class = "left">
                    <p>필명 : <%= user[0].nickName %></p>
                    <p>구독자 : <%= follower[0].count %> 구독중 : <%= following[0].count %> </p>
                    <p>공지사항은 여기다 나오게 하면 되겠죠?</p>
                    <p><%= user[0].libraryDescription %></p>
                </div>
                <table>
                    <tr>
                        <th>읽은책</th>
                        <th>좋아요</th>
                        <th>인용문</th>
                    </tr>
                    <tr>
                        <th><%= read[0].count %></th>
                        <th><%= love[0].count %></th>
                        <th><%= quotation[0].count %></th>
                        
                    </tr>
                </table>
            </div>

            <div class ="books">
                    <h2>구독자, 구독중👏</h2>
                    <div class ="column">
                        <h4>구독중</h4>
                        <% following_n.forEach(function(following) { %>
                            <span><%= following.nickName %>&nbsp</span>
                    <% }) %>
                        <h4>구독자</h4>
                            <% follower_n.forEach(function(following) { %>
                                <span><%= following.nickName %>&nbsp</span>
                        <% }) %>
                    </div>
                </div>

                <div class ="books">
                        <h2>읽은책, 좋아요, 인용문👏</h2>
                        <h4>읽은책</h4>
                        <div class ="column">
                            
                                <% reads.forEach(function(book) { %>
                                    <tr>
                                        <td><div class = "list2"><%=book.title%>&nbsp</div></td>
                                    </tr>                                  
                                <% }) %>
                        </div>
                        <h4>좋아요한 책</h4>
                        <div class ="column">
                            
                                <% loves.forEach(function(book) { %>
                                    <tr>
                                        <td><div class = "list2"><%=book.title%>&nbsp</div></td>
                                    </tr>                                  
                                <% }) %>
                        </div>
                        <h4>인용문을 사용한 책</h4>
                        <div class ="column">
                            
                                <% quotes.forEach(function(book) { %>
                                    <tr>
                                        <td><div class = "list2"><%=book.title%>&nbsp</div></td>
                                    </tr>                                  
                                <% }) %>
                        </div>
                    </div>

            <!--버튼으로 눌려서 페이지 바꾸는게 어려워서 그냥 하나에 쭉 나열하도록 할게요-->
            <div class ="books">
                <h2>대여중인 도서👏</h2>
                <div class ="column">
                    <% borrowings.forEach(function(book) { %>
                        <% link = "http://localhost:3000/book?bid=" + book.book_id %>
                    <div class = "list">
                            <p><a href=<%= link %>><%= book.title %></a></p>
                            <p><%= book.writer %></p>
                    </div>
                <% }) %>
                </div>
            </div>

            

        <div class="shelf">
            <h2>📕서재📚</h2>
            <% if(mine.value==1){ %>
                <p><a href ="http://localhost:3000/shelf/libManage">서재관리🕶</a></p>
            <% } %>
            <% category.forEach(function(cate) { %>
            <div class ="column">
                    <% count =0 %>
                    <% categorized.forEach(function(book) { %>
                        <% if(count==0){ %> 
                            <h3><%= cate.bookshelf_title %></h3>
                        <% count++ }%>

                        <% if(cate.bookshelf_title == book.bookshelf_title) { %> 
                        <% link = "http://localhost:3000/book?bid=" + book.book_id %>

                        <div class = "list">
                                <p><a href=<%= link %>><%= book.title %></a></p>
                                <p><%= book.writer %></p>
                        </div>
                    <% } %>
                <% }) %>
                </div>
                <% }) %>

        <div class ="post">
            <h2>✏️작성한 포스트🗒</h2>
            <% setpostlink = "http://localhost:3000/shelf/post/setpost?pid=-1" %>
            <p><a href=<%= setpostlink %>>추가✏️</a></p>
            <div class ="column">
                <table>
                    <tr>
                        <th>카테고리</th>
                        <th>서평제목</th>
                        <% if(mine.value==1){ %>
                            <th colspan ="2">관리</th>
                        <% } %>
                    </tr>
                <% myposts.forEach(function(mypost) { %>
                    <% link = "http://localhost:3000/shelf/post?pid=" + mypost.post_id+ "&uid=" +user[0].user_index %>
                    <% dlink = "http://localhost:3000/shelf/post/delete?pid=" + mypost.post_id+ "&uid=" +user[0].user_index %>
                    <% setpostlink = "http://localhost:3000/shelf/post/setpost?pid=" + mypost.post_id %>
                        <tr>
                            <td><%= mypost.c_title %></td>
                            <td><a href = <%=link %>><%= mypost.p_title %></a></td>
                            <% if(mine.value==1){ %>
                                <td><a href=<%= setpostlink %>>수정</a></td>
                                <td><a href = <%=dlink %>>삭제</a></td>
                            <% } %>
                        </tr>                                  
                    <% }) %>
                    </table>
            </div>
        </div>     
        <div class ="post">
                <h2>✏️구독중인 포스트🗒</h2>
                <div class ="column">
                    <table>
                        <tr>
                            <th>서평제목</th>
                            <th>필명</th>
                        </tr>
                    <% followingPosts.forEach(function(followingPost) { %>
                        <% link = "http://localhost:3000/shelf/post?pid=" + followingPost.post_id + "&uid=" +followingPost.user_index %>
                        <% slink ="http://localhost:3000/shelf?sid=" + followingPost.user_index %>
                            <tr>
                                <td><a href = <%=link %>> <%= followingPost.title %></a></td>
                                <td> <a href = <%=slink %>> <%= followingPost.nickName %></a></td>
                            </tr>                                  
                        <% }) %>
                        </table>
                </div>
            </div>        
    </center>
    </div>

</body>
</html>

