

<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <title>밀리의 서재</title>
</head>
<body>  
    <div>
        <center>
            <h1>계정관리</h1>
            <hr>
            <div class = "column">
                <table>
                    <tr>
                        <td><a href="http://localhost:3000/management/myinfo/set_name">이름</a></td>
                        <td><%=  user[0].name %></td>
                    </tr>
                    <tr>
                        <td><a href="http://localhost:3000/management/myinfo/set_writer">필명</a></td>
                        <td><%=  user[0].nickName %></td>
                    </tr>
                    <tr>
                        <td><a href="http://localhost:3000/management/myinfo/set_shelf">서재명</a></td>
                        <td><%=  user[0].libraryName %></td>
                    </tr>
                    <tr>
                        <td><a href="http://localhost:3000/management/myinfo/set_description">서재소개</a></td>
                        <td><%= user[0].libraryDescription %></td>
                    </tr>
                    <tr>
                        <td><a href="http://localhost:3000/management/myinfo/set_phone">휴대폰 번호</a></td>
                        <td><%= user[0].phoneNumber %></td>
                    </tr>
                    <tr>
                        <td><a href="http://localhost:3000/management/myinfo/set_email">이메일 아이디</a></td>
                        <td><%= user[0].email %></td>
                    </tr>
                    <tr>
                        <td><a href="http://localhost:3000/management/myinfo/set_pw">비밀번호 변경</a></td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
        </center>
    </div>
</body>
</html>